<h1><a>Time Series Graph</a></h1>

<h2><a id="index">Index</a></h2>

[1. Time Series Plot](#timeseriesplot)

<h2><a id="timeseriesplot">1. Time Series Plot</a></h2>

[Index](#index)

In [2]:
# import Bokeh
from bokeh.plotting import figure
from bokeh.io import output_file, show
import pandas as pd

In [4]:
df = pd.read_csv("adbe.csv")
df["Date"] = pd.to_datetime(df["Date"])
df.head()

        Date   Open   High    Low  Close   Volume
0 2012-08-02  30.46  30.83  30.25  30.58  2639980
1 2012-08-01  31.05  31.17  30.64  30.69  2738740
2 2012-07-31  30.99  31.27  30.84  30.88  2662853
3 2012-07-30  31.89  31.95  30.92  31.01  4261193
4 2012-07-27  31.26  32.00  31.17  31.90  3312890

In [7]:
# Create a figure
p = figure(width=500, height=500, x_axis_type="datetime")
p.line(df["Date"], df["Close"], color="blue", alpha=0.5)
output_file("Timeseries.html")
show(p)